<!DOCTYPE html>
<html>
<head>
	<title>Student Evolution</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- jQuery -->
	<script type="text/javascript" src="dist/jquery-3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="dist/jquery-3.3.1/jquery.mask.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="dist/bootstrap-4.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="dist/bootstrap-4.0/css/bootstrap-grid.min.css">
	<link rel="stylesheet" type="text/css" href="dist/bootstrap-4.0/css/bootstrap-reboot.min.css">
	<script type="text/javascript" src="dist/bootstrap-4.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="dist/bootstrap-4.0/js/bootstrap.bundle.js"></script>

	<!-- Angular JS -->
	<script src="dist/angularjs-1.6.9/angular.min.js"></script>
	<script src="dist/angularjs-1.6.9/angular-route.min.js"></script>

	<!-- jQuery Alert -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="dist/css/studentevolution.css">
	<link rel="stylesheet" type="text/css" href="dist/css/south-park.css">

	<!-- JavaScript -->
	<script type="text/javascript" src="dist/js/studentevolution.js"></script>

	<!-- Config -->
	<script type="text/javascript" src="dist/js/config/config.js"></script>

	<!-- Controller -->
	<script type="text/javascript" src="dist/js/controller/controller.js"></script>

	<!-- Directive -->
	<script type="text/javascript" src="dist/js/directive/directive.js"></script>
</head>

<body ng-app="StudentEvolution">
	<div class="fluid-container">
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		  <a class="navbar-brand" href="#">Student Evolution</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarContent">
			  <ul class="nav navbar-nav ml-auto">
		      <li class="nav-item" ng-if="!auth">
		        <a class="nav-link" style="cursor: pointer;" ng-click="signin()">Login</a>
		      </li>
		      <li class="nav-item" ng-if="!auth">
		        <a class="nav-link" style="cursor: pointer;" ng-click="signup()">Cadastro</a>
		      </li>
		      <li class="nav-item" ng-if="auth">
		        <a class="nav-link" style="cursor: pointer;" ng-href="#!profile">{{user.nome}}</a>
		      </li>
		      <li class="nav-item" ng-if="auth">
		        <a class="nav-link" style="cursor: pointer;" ng-click="signout()">Sair</a>
		      </li>
		      <!-- <li class="nav-item">
		        <a class="nav-link" target="_blank" href="https://craftpip.github.io/jquery-confirm/#alert">jQuery Confirm Website</a>
		      </li> -->
		    </ul>
		  </div>
		</nav>
		<ng-view></ng-view>
		<footer class="navbar navbar-expand-sm navbar-dark bg-dark">
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item">
	        <a class="nav-link" style="cursor: pointer;" ng-href="#!ajuda">Ajuda</a>
	      </li>
				<li class="nav-item">
	        <a class="nav-link" style="cursor: pointer;" ng-href="#!sobre">Sobre</a>
	      </li>
			</ul>
		</footer>
	</div>
</body>
</html>